<?xml version="1.0"?>

<model>
  <!-- Classic CartPole Environment -->
  <name>cartpole</name>
  <version>1.0</version>
  <sdf>model.urdf</sdf>

  <author>
    <name>Horizon</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    A model of the classic cartpole
  </description>

  <depend>
  </depend>
</model>
